

<div id="page-content-wrapper">
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                          <div class="card">
                            <img class="card-img-top" src="assets/178727643_371500194145546_5878753042763365689_n.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">BlUSITA BOHO</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit, aliquam taciti metus fringilla nunc hendrerit, aliquet himenaeos aenean rhoncus risus class.</p>
                              <a href="#" class="btn btn-primary">ver producto</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="card">
                            <img class="card-img-top" src="assets/159611706_729884511061305_8658830935031478486_n.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Vestido corte Blusón</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit, aliquam taciti metus fringilla nunc hendrerit, aliquet himenaeos aenean rhoncus risus class.</p>
                              <a href="#" class="btn btn-primary">ver producto</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="card">
                            <img class="card-img-top" src="assets/205463711_796985231179739_4601095416498969785_n.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Blusa Amarilla</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit, aliquam taciti metus fringilla nunc hendrerit, aliquet himenaeos aenean rhoncus risus class.</p>
                              <a href="#" class="btn btn-primary">ver producto</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="card">
                            <img class="card-img-top" src="assets/179108675_923742881794366_2130333174821029234_n.jpeg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Sueter rosa</h5>
                              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit, aliquam taciti metus fringilla nunc hendrerit, aliquet himenaeos aenean rhoncus risus class.</p>
                              <a href="#" class="btn btn-primary">ver producto</a>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>