<mat-toolbar color="primary">
    <mat-toolbar-row>
          <span>Portal CoderHouse</span>
           <span class="example-spacer"></span>
      
        <a routerLink="inicio"> <button  class="btn-color-purple" mat-raised-button color="primary"><mat-icon>home</mat-icon></button></a>
        <a routerLink="cursos/listaCursos"> <button class="btn-color-purple"  mat-raised-button color="primary">Cursos</button></a> 
        <a routerLink="alumnos/listaAlumnos"> <button class="btn-color-purple"  mat-raised-button color="primary">Alumnos</button></a> 
        <a routerLink="clases/listaClases"> <button class="btn-color-purple"  mat-raised-button color="primary">Clases</button></a> 
      
       
    </mat-toolbar-row>
</mat-toolbar>
