

    <mat-card-content class="content-form">
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="formulario" (ngSubmit)="login()" >
           
             <mat-form-field  appearance="fill">
              <input type="text" placeholder="Nombre de usuario" formControlName="usuario" matInput>
            </mat-form-field>
             <mat-form-field  appearance="fill">
             <input type="password" placeholder="Contraseña" formControlName="contrasena" matInput>  
            </mat-form-field>


          
            <input type="checkbox" formControlName="admin"> Admin <br>
            <input type="checkbox" formControlName="canActivateChild"> Can Activate Child <br>
            <input type="checkbox" formControlName="canLoad"> Can Load <br>
            <input type="checkbox" formControlName="canDeactivate"> Can Deactivate <br>
      
            <button type="submit" mat-raised-button color="primary" >Login</button>
        </form>
    </mat-card-content>
