<h1>Directivas personalizadas</h1>
<p>Este texto está <span [appResaltado]="color">resaltado</span></p>
<p>Este texto está <span [appResaltado]="'#E8FF3C'">resaltado</span></p>
<p>Este texto está <span appResaltado="#E8FF3C">resaltado2</span></p>
<!-- <p>Este texto está <span appResaltado>fbdjfmn,s.dmfnbhjnskmadjfbhnskmalkdnfjbhsnamd</span></p> -->
<p>Este texto está <span [appResaltado]="'#f00'">fbdjfmn,s.dmfnbhjnskmadjfbhnskmalkdnfjbhsnamd</span></p>
<h2>Directiva Estructural</h2>
<div *appIterador="3">
	<h3>Titulo de iteracion</h3>
	<p>Iterando a traves de directivas personalizadas</p>
</div>