<div class="container container-table">
  <table class="table">
  
  <thead  class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Calificación</th>
      <th scope="col">Resultado Final</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{estudiante.id}} </td>
      <td>{{estudiante.nombre}} </td>
      <td>{{estudiante.apellido1}} </td>
      <td>{{estudiante.apellido2}} </td>
      <td >{{estudiante.calificacion}} </td>
      <td [ngClass]="estudiante.resultado == 'aprobado' ? 'calificacion-buena' : 'calificacion-mala'">{{estudiante.resultado | uppercase }} </td>
     
    </tr>
    
  </tbody>
</table>
</div>