<!-- 
<div class="container-fluid" class="content-menu">
	<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>Menú
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item color="primary" (click)="openDialog()"><mat-icon>assignment_ind</mat-icon>Agregar Alumnos</button>
</mat-menu>
</div> -->
<div class="container-fluid" class="content-menu">
  <button mat-raised-button color="accent" (click)="openDialog()"><mat-icon>assignment_ind</mat-icon> Agregar Alumnos</button>
  </div>