.container-table{
	margin-top: 50px;
}
.btn-column button{
    margin: 5px;
}
tr.mat-row, tr.mat-footer-row{
	    vertical-align: baseline;
}
tr.mat-header-row{
	    vertical-align: middle;
}
.float-right{
   float: right;
}